*{
    margin: 0;
    padding: 0;
    font-family: Assistant,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
    header{
    display: flex;
    background-color: #ffffff;
    height: 80px;
    background-color: cadetblue;
    justify-content: space-between;
}
  .myntra_home{
    height: 45px;
    width: 95px;
}
.logo_container{
    
    margin-left: 4%;
}
.action_bar{
    margin-right: 4%;
}